a {
    color: black;
    text-decoration: none;
}
.logo {
    width: 20px;
    height: 20px;
}
.important {
    color: #ff0000;
}
.mention {
    color: #0000ff;
}
.link {
    color: #0000ff;
    text-decoration: underline;
}
canvas {
    border: 1px solid #000000;
}